.menu {
    background: #2da18e;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 10009;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
  }

  .link {
    list-style: none;
  }
  
  .list {
    width: 113px;
  }
  
  .link {
    margin: 2rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
  }
  
  
  
  .link a {
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color3);
    font-size: 1rem;
    position: relative;
  }
  
  .link a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: var(--color4);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
  .link a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
  }